/* Reset all element margins to 0. The asterisk sign * is called the all selector*/
* {
    margin: 0;
}

/* Styles the navigation bar logo */
#nav-logo {
    width: 150px;
    height: 100px;
}

nav { /* not adding any id or class to the nav because nav appears only once*/
    display: flex; /* display flex automitically arranges items in a row format*/
    /* flex-direction: row; */
    justify-content: space-between; /* affects horizontal arrangement of items...if we use space between, we will have to add padding*/
    padding: 30px 50px;
    /*position: fixed; /* to make sure the position of the nav bar does not move, but it can only work when you assign a width*/
}

#nav-links {
    display: flex;
    column-gap: 40px; /* it only affects flex or grid items...assign a display of flex in this instance*/
}

nav button {
    background-color: white;
    padding: 10px 20px; /*applying padding to correct the size of the button*/
    height: fit-content; /* specifying that the height of the button fits the contents within it*/
    border-color: #4C92F3;
    border-width: 2px;
    border-style: solid; 
    /* the three css styles above coud have simply been replaced with border: 2px solid #4C92F3;*/  
}
  